.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #ADD8E6;
    color: white;
    text-align: center;
    }
  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#ADD8E6;
    color: white;
    text-align: center;
    font-size: x-small;
    height: 2.5rem;
  }
  
  *, *::after, *::before {
    box-sizing: border-box;
  }
  
